<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Thanawat.xyz - $title$</title>
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body class="bg-gray-800 flex flex-col items-center text-white">
            <nav class="fixed z-10 bg-gray-800 px-2 min-w-full flex justify-between pt-2 md:w-3/4 lg:w-2/3">
                <a class="text-lg lg:text-2xl" href="/">Thanawat.xyz</a>
                <div>
                    <a class="text-lg hidden lg:inline lg:text-2xl mx-2" href="/about.html">About</a>
                    <a class="text-lg hidden lg:inline lg:text-2xl mx-2" href="/contact.html">Contact</a>
                    <a class="text-lg  lg:text-2xl mx-2" href="/archive.html">Archive</a>
                </div>
            </nav>

        <main role="main" class="mt-8 mb-4 p-4 max-w-sm lg:max-w-lg xl:max-w-2xl prose prose-sm lg:prose-lg xl:prose-xl text-white">
            <h1 class="text-center">$title$</h1>
            $body$
        </main>

        <footer class="self-center mb-2">
            <a href="/contact.html" class="text-blue-600 underline"> Contact me </a>
        </footer>
    </body>
</html>
